<p id="notice"><%= notice %></p>
<div class="col-sm-8 blog-main">

  <h2><%= @problem.title %></h2>
  
  <p>
    <%= @problem.description %>
  </p>

  <div class="card">
    <%= markdown @problem.body %>
  </div>

  <%= link_to 'Edit', edit_problem_path(@problem), class: 'btn btn-primary' %> |
  <%= link_to 'Back', problems_path, class: 'btn btn-primary' %>

</div>
