<!doctype html>
<html lang="en">
  <head>
    
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Problems</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'problems', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render 'shared/problem_nav' %>

    <%= render 'shared/problem_mast' %>

    <%= yield %>

    <%= render 'shared/problem_footer' %>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  
  </body>
</html>
